[submodule "External/OCMock"]
	path = External/OCMock
	url = git@github.com:erikdoe/ocmock.git
[submodule "External/libextobjc"]
	path = External/libextobjc
	url = git@github.com:jspahrsummers/libextobjc.git
